<form [formGroup]="authForm" (ngSubmit)="saveButtonClick()" class="address_container">
    <div>
        <span class="info">Adresse</span>
    </div>
    <fieldset class="form-group">
        <input
            formControlName="firstName"
            placeholder="Vorname"
            class="form-control form-control-lg"
            type="text" 
            />
    </fieldset>

    <fieldset class="form-group">
        <input
            formControlName="lastName"
            placeholder="Nachname"
            class="form-control form-control-lg"
            type="text"
            />
    </fieldset>

    <fieldset class="form-group">
        <input
            formControlName="street"
            placeholder="Strasse und Hausnr"
            class="form-control form-control-lg"
            type="text"
            />
    </fieldset>

    <fieldset class="form-group">
        <input
            formControlName="postCode"
            placeholder="PLZ"
            class="form-control form-control-lg"
            type="text"
            />
    </fieldset>

    <fieldset class="form-group">
        <input
            formControlName="town"
            placeholder="Stadt"
            class="form-control form-control-lg"
            type="text"
            />
    </fieldset>

    <fieldset class="form-group">
        <input
            formControlName="country"
            placeholder="Land"
            class="form-control form-control-lg"
            type="text"
            />
    </fieldset>

    <button class="btn btn-lg btn-primary pull-xs-right" type="submit" [disabled]="!authForm.valid">
        Speichern
    </button>
</form>
